.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20px 0;
}

.buttonSection {
    display: flex;
    justify-content: center;
    align-items: center;
}