.home {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 20px;
}

.loading {
    height: 200px;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}