.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleSection {
    display: flex;
    justify-content: space-between;
}

.author {
    margin: 0;
    font-weight: 600;
}

.date {
    font-weight: 600;
}

.text {
    font-weight: 400;
}


.button {
    margin: 3px 3px;
}
